.main-container{
    margin: 80px;
}
/* .services-container {
    margin-top: 0px;
    padding: 30px;
    
} */
.cart {
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 100%;
    padding: 5px;
   
    
}