
.main-div{
  /* display: flex;  */
  /* flex-direction: column;  */
   text-align: right;
  margin-top: 0px;
  /* margin-left: 600px; */
   /* border: 1px solid black; */
  background-color: red
}
/* .menubar-div{
  background-color: red;
} */
.menu-div{
  background-color: grey;
}
.items {
  
   display: inline;
   text-align: end;
  list-style: none;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}
/* .items:hover {
  color:red
} */